
.navbar {
    padding-left: 5rem;
    padding-right: 10rem;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 80px;

}

.navbar-brand img {
    width: 100px;
}

.navbar-brand:hover{
    color: whitesmoke;
    font-weight: 250;
    filter: brightness(80%);
}

#boton_verde {
    color: #25a342;
}
#boton_verde:hover{
    color:lightgreen;
}
