* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/* Navbar */
#navbarIframe {
    width: 100%;
    height: 80px;
    display: block;
    /* position:absolute; */
    z-index: 10;
}

/* Carousel */
.carousel-item img {
    filter: brightness(50%);
    max-height: 50rem;
}

/* Oradores */
#titulo_oradores p h5{
    color:gray;
    padding-top: 1rem;
}

#honolulu {
    padding-left: 0;
    margin-left: 0;
    margin-top: 3rem;
}

#ba_octubre {
    background-color: #333a40;
    color: lightgray;
    padding-top: 1rem;
    font-weight:600;
    padding-left: 2rem;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

#imagen_honolulu {
    padding-right: 0;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

#boton_octubre {
    color: lightgray;
    border: 1px solid lightgray;
}

/* Formulario */
#charla_ignite {
    text-decoration: underline dotted;
}

form {
    margin: auto;
}

#boton_form {
    background-color: #96c93e;
    border: none;
}

#footer {
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
    height:6rem;
    display: block;
}
