<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/footer.css">
</head>
    <title>footer</title>
</head>
<body>
    <footer class="footer" >
        <div class="container" id="footer_opciones">  
                <div class="contenido_footer">
                    <a href="#">Preguntas Frecuentes</a>
                    <a href="#">Contáctanos</a>
                    <a href="#">Prensa</a>
                    <a href="#">Conferencias</a>
                    <a href="#">Términos y condiciones</a>
                    <a href="#">Privacidad</a>
                    <a href="#">Estudiantes</a>
                </div>
        </div>
        </footer>
    
</body>
</html>